WebApplicationPreschoolAdmin/WebApplicationAdmin/WebApplicationAdmin/Connected Services/ServiceReference2/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53166/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53166/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53166/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceForskolaAnsoka1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_CreateBarn_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBarn" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateBarn_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBarnResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateStatus" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteBarn_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBarn" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteBarn_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBarnResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStatus" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBarnLista_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBarnLista" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBarnLista_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBarnListaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStatusLista_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusLista" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStatusLista_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusListaResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="CreateBarn">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateBarn" message="tns:IService1_CreateBarn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateBarnResponse" message="tns:IService1_CreateBarn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateStatus" message="tns:IService1_CreateStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateStatusResponse" message="tns:IService1_CreateStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBarn">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteBarn" message="tns:IService1_DeleteBarn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteBarnResponse" message="tns:IService1_DeleteBarn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteStatus" message="tns:IService1_DeleteStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteStatusResponse" message="tns:IService1_DeleteStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBarnLista">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBarnLista" message="tns:IService1_GetBarnLista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBarnListaResponse" message="tns:IService1_GetBarnLista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatusLista">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStatusLista" message="tns:IService1_GetStatusLista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStatusListaResponse" message="tns:IService1_GetStatusLista_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateBarn">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateBarn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateStatus">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBarn">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteBarn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStatus">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBarnLista">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBarnLista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusLista">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStatusLista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:53166/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>